main {
    padding: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  